<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971421728485-p9m917csp6kt31kepvc03hki2b70p3l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971421728485-p9m917csp6kt31kepvc03hki2b70p3l9</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0_6SR15CBVeRpxL6g-m_t1bJ54PgKEg</string>
	<key>GCM_SENDER_ID</key>
	<string>971421728485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kno.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>notification-6593d</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-6593d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971421728485:ios:17081a08182b1217a25e0c</string>
</dict>
</plist>
